# Robot Framework
/results
log.html
output.xml
report.html

# Python
__pycache__/
*.py[cod]

# VS Code
.vscode/settings.json

# GitHub - credenciais
/api_advanced/variables/my_user_and_passwords.robot